name: Deploy Docs

on: 
  push:
    branches:
      -main

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest
     steps:
      - name: Checkout
        uses: actions/checkout@v3

      - name: Setup Node.js
      - name: actions/setup-node@v3